
/***************************
****************************
change the font for the 
entire page and other 
styling
****************************
***************************/
body {
  font-family: Source Sans Pro;
  overflow-y: scroll;
  margin: 10px 10px 10px 10px;
  color: #444;
  font-weight: 400;
}

/***************************
****************************
style the "Hello" text in
the first paragraph to be
larger than all other text
so that it stands out
****************************
***************************/
p strong {
  font-size: 24pt;
}

/***************************
****************************
highlight any selected rows
in the table with yellow

WARNING: Adjoining classes 
notation is not compatible 
with IE6 browsers

The use of !important ensures
that this style overrides
others when doing the 
table row selections
****************************
***************************/
.dataTable tbody .even.selected {
  background-color: #FFFFCC !important;
}
.dataTable tbody .odd.selected {
  background-color: #FFFFCC !important;
}

/***************************
****************************
create a style for centering
columns in a data table
****************************
***************************/
dt-center {
  text-align: center;  
}

/***************************
****************************
modify the look and feel
of the progress wheel
****************************
***************************/
div.shinysky-busy-indicator {
  z-index: 10000 !important;
  position:fixed;
  top: 25%;
  left: 40%;
  margin-top: auto;
  margin-left: auto;
  display:none;
  background: rgba(230, 230, 230, .8);
  text-align: center;
  font-size: x-large !important;
  font-family: Source Sans Pro;
  padding-top: 20px;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
  border: 1px solid grey !important;
  border-radius: 5px;
}
div.shinysky-busy-indicator p {
  margin-bottom: 20px !important;
}

/***************************
****************************
add margin to the 
download symbol
****************************
***************************/
i.fa.fa-download {
  margin-right: 5px;
}

/***************************
****************************
apply formatting to table
filter inputs so they are 
easier to use
****************************
***************************/
.dataTable tfoot td, table.dataTable thead td {
  padding: 3px 1px 3px 1px !important;
}
.dataTable thead td .glyphicon.glyphicon-remove-circle{
  position: relative;
  top: 1px;
}
.dataTable thead td .form-control {
  padding-right: 0;
  padding-left: 4px;
}
.dataTables_filter {
  display: none;
}

/***************************
****************************
add margin to the download
button so it is positioned
further from the top of 
the table
****************************
***************************/
#downloadDataFromTable {
  margin-bottom: 15px;
}
  
/***************************
****************************
create elements to float
the text and download 
buttons to the right and
left of the screen
****************************
***************************/  
div.itemright {
  vertical-align: top;
  text-align: center;
  float: right;
  margin-right: 5px;
}
div.itemleft {
  vertical-align: top;
  float: left;
  margin-left: 5px;
}

/***************************
****************************
create a special class that
can be applid to the first
row in the ui so that the
sliderInput for choosing
clusters is positioned
nicely next to the 
welcome text
****************************
***************************/
.vertical-align {
  display: flex;
  align-items: center;
}